@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 12px; */
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "nav""main""footer";
  grid-template-rows: 1fr 80px;
  /* background-color: #1D4289; */

}

nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  position: absolute;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 8px 12px;
  border-radius: 18px;
  border: 1px solid;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 120px;
  font-size: 15px;
  
}
.btn.primary:hover {
  background-color: #245ecc;
}

.primary {
  background-color: #1D4289;
  color: #eee;
}

.ghost {
  border: 1px solid #1D4289;
  color: #1D4289;
}

.btn.ghost:hover {
  border: 1px solid #245ecc
}

/* form {
  border: 1px solid #A4A4A4 ;
  border-radius: 8px;
} */

.bg {
  background-color: #e2f4ff;
  max-width: 1300px;
  margin: auto;
  border-radius: 8px;
}

.form-bg {
  background-color: rgb(255, 255, 255);
  /* max-width: 1200px; */
  border-radius: 8px;
  /* max-width: fit-content; */
}

.logo {
  width: 100px;
}

.Mui-active {
  color: "#8cc638",
}